<html>
  <head>
    <title>
      {{ site.data.me.name.professional.full }}
    </title>
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>{{ site.data.me.name.professional.full }}</h1>
    <h2>{{ page.subtitle }}</h2>
    {% for section in page.sections %}
    <h3>{{ section.title }}</h3>
    {% for entry in section.entries %}
    <h4>{{ entry.title }}</h4>
    <p><i>{{ entry.duration }}</i></p>
    {% if entry.summary %}
    <p>{{ entry.summary }}</p>
    {% endif %}
    {% if entry.bullets %}
    <ul>
      {% for bullet in entry.bullets %}
      <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if entry.url %}
    <p><a href="{{ entry.url }}">{{ entry.url }}</a></p>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {{ content }}
  </body>
</html>
